<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>
<body>
<div id="app">
    <div v-for="category in categories" :key="category.id">
        <h2 class="h2">{{ category.name }}</h2>
        <div class="per">
            <div v-for="(product, index) in category.products.slice(0, 3)" :key="index" class="product">
                <div>
                    <strong>{{ product.name }}</strong>
                    <div>{{ product.description }}</div>
                    <div>{{ product.price }}</div>
                </div>
            </div>
            <a :href="'http://anibloom/api/category/' + category.id">Просмотреть все</a>
        </div>
    </div>
</div>
<script src="/public/js/vue.js"></script>
</body>
</html>
